<!DOCTYPE html>
<html>
<head>
    <title><Add new donor></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
        <h1>Register</h1>
        <form action = '/api/auth/signUp'  METHOD="post">
            Name:
            <input type = 'text' name = 'name'/>
            <br/>
            Surname:
            <input type = 'text' name = 'surname'/>
            <br/>
            Patronym:
            <input type = 'text' name = 'patronymic'/>
            <br/>
            Email:
            <input type = 'email' name = 'email'/>
            <br/>
            Password:
            <input type = "password" name="password"/>
            <br/>
            Confirm password:
            <input type = "password" name="password2"/>
            <br/>
            Date of birth:
            <input type = 'date' name = 'birthdate'/>
            <br/>
            City:
            <input type = 'text' name = 'city'/>
            <br/>
            Group:
            <input list="groups" name="group">
            <datalist id = 'groups'>
                <option value = "1"> First</option>
                <option value = "2">Second</option>
                <option value = "3">Third</option>
                <option value  = "4">Fourth</option>
            </datalist>
            <br/>
            Rhesus:
            <input list="rhesus" name="rhesus">
            <datalist id = 'rhesus'>
                <option value= "positive">+</option>
                <option value = "negative">-</option>
            </datalist>
            <br/>
            Last donation:
            <input type = 'date' name = 'lastDonation'/>
            <br/>

            <input type = 'submit' value = 'Add new donor'/>

        </form>


</body>
</html>
