<!DOCTYPE html>
<html>
<head>
    <title><Change profile></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Chane profile</h1>
<form action = '/api/profile/update'  METHOD="post">
    Name:
    <input type = 'text' name = 'name'/>
    <br/>
    Surname:
    <input type = 'text' name = 'surname'/>
    <br/>
    Patronym:
    <input type = 'text' name = 'patronymic'/>
    <br/>
    Email:
    <input type = 'email' name = 'email'/>
    <br/>
    Password:
    <input type = "password" name="password"/>
    <br/>
    Confirm password:
    <input type = "password" name="password2"/>
    <br/>
    Date of birth:
    <input type = 'date' name = 'birthdate'/>
    <br/>
    City:
    <input type = 'text' name = 'city'/>
    <br/>
    <br/>
    Avatar:
    <input type='file' name='avatar' />
    <br />

    <input type = 'submit' value = 'Change info'/>

</form>


</body>
</html>
