<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1> <%=title%></h1>
<ul>
    <% for(var i=0; i<donors.length; i++) { %>
    <li>

        <!--todo-->
        <a href='/donors/<%= donors[i]._id %>'>
            <%= donors[i].name + ' ' + donors[i].surname%>
        </a>
    </li>
    <% } %>
</ul>
</body>
</html>
