<!DOCTYPE html>
<html>
  <head>
    <title>Donor search</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <table>

  <form action = '/api/auth/logIn' METHOD="post">

    Email:
    <input type = 'email' name = 'email'/>
    <br/>
    Password:
    <input type = "password" name="password"/>
    <br/>
    <input type = 'submit' value = 'LogIn'/>
    </form>
    <br/>
    <br/>
    <form action="/newdonor">
      <input type="submit" value="I want to become a donor" />
    </form>
    <br/>
    <form action="/new_recipient">
      <input type="submit" value="I need donor" />
    </form>
  </table>
  </body>
</html>
