
<div class="wrapper">
    <css-carousel></css-carousel>
</div>
 <div class="container" *ngIf="!donor && !admin">
     <login></login>
 </div>

<div class = "buttons" *ngIf="!donor && !admin">

    <button mdl-button (click)="onClick()"
            mdl-button-type="raised" mdl-colored="primary" mdl-ripple>I need donor</button>
    <button mdl-button (click)="onClickDonor()"
            mdl-button-type="raised" mdl-colored="primary" mdl-ripple>I want to become donor</button>
 </div>


<div>

       <h4> Каждый день тысячи людей нуждаются в донорской крови. Помогите нам спасти их!</h4>

        Ежегодно 1,5 млн людей требуются переливания крови,
        показатели донорства только вполовину удовлетворяют нужды здравоохранения.

        По статистике, каждый третий человек в течение жизни сталкивается с необходимостью переливания крови!


        Вместе делаем одно хорошее дело!
        Ваша кровь может спасти человеческую жизнь при тяжелых травмах и операциях,
        массивных кровотечениях и заболеваниях крови, септических состояниях, ожогов и пр.
        Кровь как уникальное лечебное средство незаменима.
    <h4>Кто может стать донором?</h4>
    Донором может быть каждый дееспособный гражданин в возрасте от 18 до 60 лет, прошедший медицинское обследование. Обследование донора и выдача справок о состоянии здоровья производится бесплатно.
    Многочисленными исследованиями, проведенными в течение последних 60 лет российскими и зарубежными учеными, доказано, что кроводача безвредна для здоровья человека. Научно обоснованная доза однократной дачи крови – 450 мл, рекомендована Всемирной организацией здравоохранения.
</div>