
<div>
    <div class="mdl-grid" align = "center">
        <div class="mdl-cell mdl-cell--6-col " style="position: relative; top:50px; left:150px;"
             *ngFor="let recipient of recipients " >

            <mdl-card class="wide-card" mdl-shadow="6" [style.background-color]="recipient.acceptedColor">
                <mdl-card-title mdl-card-expand>
                    <h2 mdl-card-title-text>{{recipient.surname+' '+recipient.name}}</h2>
                </mdl-card-title>
                <mdl-card-supporting-text>
                    {{recipient.city+' ' + recipient.group + ' ' + recipient.rhesus}}
                </mdl-card-supporting-text>
                <mdl-card-media *ngIf= "recipient.avatar" style="background-color: white">
                    <img [src]="recipient.avatar" style = "width:150; height;150;">

                </mdl-card-media>
                <mdl-card-actions mdl-card-border >
                    <button mdl-button mdl-colored
                            *ngIf="recipient.acceptedColor != 'palegreen' && recipient.acceptedColor != 'coral'"
                            mdl-ripple (click)="acceptRecipient(recipient)">
                        Accept
                    </button>
                    <button mdl-button
                            *ngIf="recipient.acceptedColor != 'palegreen' && recipient.acceptedColor != 'coral'"
                            mdl-colored mdl-ripple (click)="deleteRecipient(recipient)">
                        Delete
                    </button>
                </mdl-card-actions>
            </mdl-card>
        </div>
    </div>
</div>

