<div style="position: absolute; top:60px;">
    <h2>Рекомендации донорам</h2>

    <i><h5> Как подготовиться к сдаче крови?</h5></i>

    <ul class="listing">
        <li><span class="l">Накануне и в день сдачи крови не рекомендуется употреблять жирную, жареную, острую и копченую пищу, а также молочные продукты, яйца и масло. Натощак сдавать кровь не нужно! </span></li>
        <li><span class="l">Лучше пить сладкий чай с вареньем, соки, морсы, компоты, минеральную воду и есть хлеб, сухари, сушки, отварные крупы, макароны на воде без масла, овощи и фрукты. </span></li>
        <li><span class="l">За 48 часов до визита на станцию переливания нельзя употреблять алкоголь, а за 72 часа — принимать лекарства, содержащие аспирин и анальгетики. </span></li>
        <li><span class="l">Утром нужно легко позавтракать, а непосредственно перед процедурой донору положен сладкий чай. </span></li>
        <li><span class="l">Также за час до сдачи крови следует воздержаться от курения. </span></li>
        <li><span class="l">Медики установили, что лучше всего на кровопотерю организм реагирует именно в утренние часы. И чем раньше происходит донация, тем легче переносится эта процедура. После 12.00 сдавать кровь рекомендуется только постоянным донорам. </span></li>
        <li><span class="l">Не следует сдавать кровь после ночного дежурства или просто бессонной ночи. </span></li>
        <li><span class="l">Не планируйте сдачу крови непосредственно перед экзаменами, соревнованиями, сдачей проекта, на время особенно интенсивного периода работы и т. п. </span></li>
        <li><span class="l">При себе необходимо иметь паспорт с регистрацией (либо свидетельство о временной регистрации) в том регионе, где сдается кровь (в настоящее время создается электронная система, которая позволит после 2016 года сдавать донорам кровь вне зависимости от места прописки). Следование этим несложным правилам особенно важно при сдаче тромбоцитов или плазмы, их нарушение повлияет на качество заготавливаемых компонентов крови. </span></li>
    </ul>

    Что касается самочувствия во время кроводачи, то у некоторых людей наблюдается легкое головокружение. Недомогание может быть вызвано снижением уровня гемоглобина, что вызывает понижение давления. Однако обычно организм здорового человека с этим легко справляется.
    <i><h5>После сдачи крови</h5></i>

    <ul class="listing">
        <li><span class="l"> Непосредственно после сдачи крови посидите расслабленно в течение 10–15 минут. </span></li>
        <li><span class="l">Если вы чувствуете головокружение или слабость, обратитесь к персоналу. Самый простой способ победить головокружение: лечь на спину и поднять ноги выше головы, либо сесть и опустить голову между колен). </span></li>
        <li><span class="l">Воздержитесь от курения в течение часа до и после кроводачи. </span></li>
        <li><span class="l">Не снимайте повязку в течение 3–4 часов, старайтесь , чтобы она не намокла. </span></li>
        <li><span class="l">Старайтесь не подвергаться значительным физическим нагрузкам в течение суток. </span></li>
        <li><span class="l">Воздержитесь от употребления алкоголя в течение суток. </span></li>
        <li><span class="l">Старайтесь обильно и регулярно питаться в течение двух суток. </span></li>
        <li><span class="l">Употребляйте повышенное количество жидкости в течение двух суток. </span></li>
        <li><span class="l">Прививки после сдачи крови разрешаются не ранее чем через 10 суток. </span></li>
        <li><span class="l">Ограничений по вождению автомобиля в день кроводачи нет. За руль мотоцикла можно садиться через 2 часа после кроводачи.</span></li>
    </ul>
    <i><h5 >Как часто можно сдавать кровь? </h5></i>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В целях безопасности донорства также важно соблюдать правила, установленные медиками. Так, мужчины могут сдавать кровь не более 5 раз в год, женщины — не более 4.
</div>